[submodule "ComfyUI-segment-anything-2"]
	path = ComfyUI-segment-anything-2
	url = https://github.com/kijai/ComfyUI-segment-anything-2.git
[submodule "sam3"]
	path = sam3
	url = https://github.com/facebookresearch/sam3.git
